e-learningTracker/acciones/5556951.csv
e-learningTracker/acciones/5557860.csv
e-learningTracker/acciones/5557866.csv
e-learningTracker/acciones/5559650.csv
e-learningTracker/acciones/5594217.csv
e-learningTracker/acciones/5594218.csv
e-learningTracker/acciones/5607199.csv
e-learningTracker/acciones/5607200.csv
e-learningTracker/acciones/5608737.csv
e-learningTracker/acciones/5609560.csv
e-learningTracker/acciones/5609561.csv
e-learningTracker/acciones/5618658.csv
e-learningTracker/acciones/5652839.csv
e-learningTracker/acciones/5652840.csv
e-learningTracker/acciones/5652841.csv
e-learningTracker/acciones/5652842.csv
e-learningTracker/acciones/5655847.csv
e-learningTracker/acciones/5655848.csv
e-learningTracker/acciones/5655849.csv
e-learningTracker/acciones/5674880.csv
e-learningTracker/acciones/5674883.csv
e-learningTracker/acciones/5674884.csv
e-learningTracker/acciones/5690397.csv
e-learningTracker/acciones/5700352.csv
e-learningTracker/acciones/5700353.csv
e-learningTracker/acciones/5700354.csv
e-learningTracker/acciones/5700355.csv
e-learningTracker/acciones/5702626.csv
e-learningTracker/acciones/5702627.csv
e-learningTracker/acciones/5715050.csv
e-learningTracker/acciones/5715051.csv
e-learningTracker/acciones/5715052.csv
e-learningTracker/acciones/5715053.csv
e-learningTracker/acciones/5719510.csv
e-learningTracker/acciones/5719511.csv
e-learningTracker/acciones/5719512.csv
e-learningTracker/acciones/5719513.csv
e-learningTracker/acciones/5727621.csv
e-learningTracker/acciones/5727622.csv
e-learningTracker/acciones/5727623.csv
e-learningTracker/acciones/5727624.csv
e-learningTracker/acciones/5728905.csv
e-learningTracker/acciones/5731252.csv
e-learningTracker/acciones/5731253.csv
e-learningTracker/acciones/5731254.csv
e-learningTracker/acciones/5731255.csv
e-learningTracker/acciones/5731439.csv
e-learningTracker/acciones/5731440.csv
e-learningTracker/acciones/5731441.csv
e-learningTracker/acciones/5731442.csv
e-learningTracker/acciones/5732197.csv
e-learningTracker/acciones/5732807.csv
e-learningTracker/acciones/5735244.csv
e-learningTracker/acciones/5735899.csv
e-learningTracker/acciones/5739888.csv
e-learningTracker/acciones/5739889.csv
e-learningTracker/acciones/5746092.csv
e-learningTracker/acciones/5747650.csv
e-learningTracker/acciones/5751291.csv
e-learningTracker/e-learningConexion 08.04.2019.xlsx
e-learningTracker/e-learningConexion 22.04.2019.xlsx
e-learningTracker/src/pymssql.pyx
e-learningTracker/txt/acciones.txt
buscadorDeCursos/__pycache__/PDFManage.cpython-37.pyc
buscadorDeCursos/__pycache__/sence.cpython-37.pyc
e-learningTracker/CursoADistanciaQuery.txt
e-learningTracker/debug.log
Porcetajes de Asistencia/__pycache__/FileManage.cpython-37.pyc
Porcetajes de Asistencia/__pycache__/PDF2Text.cpython-37.pyc
Porcetajes de Asistencia/certificados/Certificado ID 5717145--OC 44235.pdf
Porcetajes de Asistencia/certificados/Certificado ID 5717146--OC 44238.pdf
Porcetajes de Asistencia/certificados/Certificado ID 5717147--OC 44240.pdf
Netacademy Scrap/fr/pdf/IT_Français.pdf
Netacademy Scrap/es/pdf/IT_Español.pdf
Netacademy Scrap/en/pdf/IT_English.pdf
Netacademy Scrap/.vscode/.ropeproject/objectdb
Netacademy Scrap/__pycache__/ExcelManage.cpython-37.pyc
Netacademy Scrap/__pycache__/GetListExcel.cpython-37.pyc
Netacademy Scrap/__pycache__/PDFManage.cpython-37.pyc
Netacademy Scrap/__pycache__/sence.cpython-37.pyc
ConsultaLiquidacionSence/.vscode/.ropeproject/objectdb
ConsultaLiquidacionSence/__pycache__/ExcelManage.cpython-37.pyc
ConsultaLiquidacionSence/__pycache__/GetListExcel.cpython-37.pyc
ConsultaLiquidacionSence/__pycache__/Liquidaciones.cpython-37.pyc
ConsultaLiquidacionSence/__pycache__/PDFManage.cpython-37.pyc
ConsultaLiquidacionSence/__pycache__/__init__.cpython-37.pyc
ConsultaLiquidacionSence/__pycache__/sence.cpython-37.pyc
ConsultaLiquidacionSence/html/5693960.html
ConsultaLiquidacionSence/html/5701473.html
ConsultaLiquidacionSence/html/5702626.html
ConsultaLiquidacionSence/html/5702627.html
ConsultaLiquidacionSence/html/5704702.html
ConsultaLiquidacionSence/html/5714976.html
ConsultaLiquidacionSence/html/5715913.html
ConsultaLiquidacionSence/html/5715920.html
ConsultaLiquidacionSence/html/5720126.html
ConsultaLiquidacionSence/html/5722031.html
ConsultaLiquidacionSence/html/5723037.html
ConsultaLiquidacionSence/html/5723311.html
ConsultaLiquidacionSence/html/5723380.html
ConsultaLiquidacionSence/html/5723662.html
ConsultaLiquidacionSence/html/5723696.html
ConsultaLiquidacionSence/html/5724859.html
ConsultaLiquidacionSence/html/5724861.html
ConsultaLiquidacionSence/html/5724864.html
ConsultaLiquidacionSence/html/5725516.html
ConsultaLiquidacionSence/html/5726516.html
ConsultaLiquidacionSence/html/5727928.html
ConsultaLiquidacionSence/html/5727929.html
ConsultaLiquidacionSence/html/5727930.html
ConsultaLiquidacionSence/html/5729021.html
ConsultaLiquidacionSence/html/5729832.html
ConsultaLiquidacionSence/html/5729835.html
ConsultaLiquidacionSence/html/5730670.html
ConsultaLiquidacionSence/html/5731444.html
ConsultaLiquidacionSence/html/5731945.html
ConsultaLiquidacionSence/html/5731946.html
ConsultaLiquidacionSence/html/5732808.html
ConsultaLiquidacionSence/html/5732809.html
ConsultaLiquidacionSence/html/5733310.html
ConsultaLiquidacionSence/html/5733311.html
ConsultaLiquidacionSence/html/5733312.html
ConsultaLiquidacionSence/html/5733313.html
ConsultaLiquidacionSence/html/5733618.html
ConsultaLiquidacionSence/html/5734352.html
ConsultaLiquidacionSence/html/5736385.html
ConsultaLiquidacionSence/html/5738446.html
ConsultaLiquidacionSence/html/5739671.html
ConsultaLiquidacionSence/html/5740217.html
ConsultaLiquidacionSence/html/5740236.html
ConsultaLiquidacionSence/html/5740460.html
ConsultaLiquidacionSence/html/5741039.html
ConsultaLiquidacionSence/html/5743085.html
ConsultaLiquidacionSence/html/5743389.html
ConsultaLiquidacionSence/html/5743762.html
ConsultaLiquidacionSence/html/5743763.html
ConsultaLiquidacionSence/html/5743765.html
ConsultaLiquidacionSence/html/5743766.html
ConsultaLiquidacionSence/html/5743791.html
ConsultaLiquidacionSence/html/5744157.html
ConsultaLiquidacionSence/html/5745033.html
ConsultaLiquidacionSence/html/5746821.html
ConsultaLiquidacionSence/html/5746824.html
ConsultaLiquidacionSence/html/5747115.html
ConsultaLiquidacionSence/html/5747651.html
ConsultaLiquidacionSence/html/5749801.html
ConsultaLiquidacionSence/html/5750532.html
ConsultaLiquidacionSence/html/5754510.html
ConsultaLiquidacionSence/html/5758254.html
ConsultaLiquidacionSence/html/5758268.html
ConsultaLiquidacionSence/pdf/5693960.pdf
ConsultaLiquidacionSence/pdf/5701473.pdf
ConsultaLiquidacionSence/pdf/5702626.pdf
ConsultaLiquidacionSence/pdf/5702627.pdf
ConsultaLiquidacionSence/pdf/5704702.pdf
ConsultaLiquidacionSence/pdf/5714976.pdf
ConsultaLiquidacionSence/pdf/5715913.pdf
ConsultaLiquidacionSence/pdf/5715920.pdf
ConsultaLiquidacionSence/pdf/5720126.pdf
ConsultaLiquidacionSence/pdf/5722031.pdf
ConsultaLiquidacionSence/pdf/5723037.pdf
ConsultaLiquidacionSence/pdf/5723311.pdf
ConsultaLiquidacionSence/pdf/5723380.pdf
ConsultaLiquidacionSence/pdf/5723662.pdf
ConsultaLiquidacionSence/pdf/5723696.pdf
ConsultaLiquidacionSence/pdf/5724859.pdf
ConsultaLiquidacionSence/pdf/5724861.pdf
ConsultaLiquidacionSence/pdf/5724864.pdf
ConsultaLiquidacionSence/pdf/5725516.pdf
ConsultaLiquidacionSence/pdf/5726516.pdf
ConsultaLiquidacionSence/pdf/5727928.pdf
ConsultaLiquidacionSence/pdf/5727929.pdf
ConsultaLiquidacionSence/pdf/5727930.pdf
ConsultaLiquidacionSence/pdf/5729021.pdf
ConsultaLiquidacionSence/pdf/5729832.pdf
ConsultaLiquidacionSence/pdf/5729835.pdf
ConsultaLiquidacionSence/pdf/5730670.pdf
ConsultaLiquidacionSence/pdf/5731444.pdf
ConsultaLiquidacionSence/pdf/5731945.pdf
ConsultaLiquidacionSence/pdf/5731946.pdf
ConsultaLiquidacionSence/pdf/5732808.pdf
ConsultaLiquidacionSence/pdf/5732809.pdf
ConsultaLiquidacionSence/pdf/5733310.pdf
ConsultaLiquidacionSence/pdf/5733311.pdf
ConsultaLiquidacionSence/pdf/5733312.pdf
ConsultaLiquidacionSence/pdf/5733313.pdf
ConsultaLiquidacionSence/pdf/5733618.pdf
ConsultaLiquidacionSence/pdf/5734352.pdf
ConsultaLiquidacionSence/pdf/5736385.pdf
ConsultaLiquidacionSence/pdf/5738446.pdf
ConsultaLiquidacionSence/pdf/5739671.pdf
ConsultaLiquidacionSence/pdf/5740217.pdf
ConsultaLiquidacionSence/pdf/5740236.pdf
ConsultaLiquidacionSence/pdf/5740460.pdf
ConsultaLiquidacionSence/pdf/5741039.pdf
ConsultaLiquidacionSence/pdf/5743085.pdf
ConsultaLiquidacionSence/pdf/5743389.pdf
ConsultaLiquidacionSence/pdf/5743762.pdf
ConsultaLiquidacionSence/pdf/5743763.pdf
ConsultaLiquidacionSence/pdf/5743765.pdf
ConsultaLiquidacionSence/pdf/5743766.pdf
ConsultaLiquidacionSence/pdf/5743791.pdf
ConsultaLiquidacionSence/pdf/5744157.pdf
ConsultaLiquidacionSence/pdf/5745033.pdf
ConsultaLiquidacionSence/pdf/5746821.pdf
ConsultaLiquidacionSence/pdf/5746824.pdf
ConsultaLiquidacionSence/pdf/5747115.pdf
ConsultaLiquidacionSence/pdf/5747651.pdf
ConsultaLiquidacionSence/pdf/5749801.pdf
ConsultaLiquidacionSence/pdf/5750532.pdf
ConsultaLiquidacionSence/pdf/5754510.pdf
ConsultaLiquidacionSence/pdf/5758254.pdf
ConsultaLiquidacionSence/pdf/5758268.pdf
Netacademy Scrap/debug.log
ConsultaLiquidacionSence/debug.log
ConsultaLiquidacionSence/list.xlsx
ConsultaLiquidacionSence/temp.pdf
utils/__pycache__/ExcelManage.cpython-37.pyc
utils/__pycache__/PDFManage.cpython-37.pyc
utils/__pycache__/FileManage.cpython-37.pyc
utils/__pycache__/HtmlManage.cpython-37.pyc
utils/__pycache__/__init__.cpython-37.pyc
